  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'SansationR';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url(../assets/fonts/Sansation_Regular.woff),
           url(../assets/fonts/Sansation_Regular.ttf);
    }
    @font-face {
      font-family: 'SansationB';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(../assets/fonts/Sansation_Bold.woff),
           url(../assets/fonts/Sansation_Bold.ttf);
    }
    @font-face {
      font-family: 'UbuntuL';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../assets/fonts/Ubuntu-Light.ttf);
    }
    @font-face {
      font-family: 'UbuntuR';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url(../assets/fonts/Ubuntu-Regular.ttf);
    }
    @font-face {
      font-family: 'UbuntuM';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url(../assets/fonts/Ubuntu-Medium.ttf);
    }
    @font-face {
      font-family: 'UbuntuB';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(../assets/fonts/Ubuntu-Bold.ttf);
    }
  }

  @layer components {
    .display-large{
      font-family: SansationB;
      font-weight: bold;
      font-size: 4.5rem;
      line-height: 5.75rem;
      letter-spacing: 0px;
    }
    .display-medium{
      font-family: SansationR;
      font-weight: normal;
      font-size: 1.75rem;
      line-height: 2.25rem;
      letter-spacing: 0px;
    }
    .display-small{
      font-family: SansationR;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0px;
    }
    .headline-large{
      font-family: UbuntuB;
      font-weight: bold;
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: 0px;
    }
    .headline-medium{
      font-family: UbuntuB;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 0px;
    }
    .headline-small{
      font-family: UbuntuM;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0px;
    }

    .title-large{
      font-family: UbuntuM;
      font-weight: normal;
      font-size: 1.375rem;
      line-height: 1.75rem;
      letter-spacing: 0px;
    }
    .title-medium{
      font-family: UbuntuM;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.15px;
    }
    .title-small{
      font-family: UbuntuM;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.1px;
    }
    .body-large{
      font-family: UbuntuR;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px;
    }
    .body-medium{
      font-family: UbuntuL;
      font-weight: lighter;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.25px;
    }
    .body-small{
      font-family: UbuntuL;
      font-weight: lighter;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.4px;
    }
    .label-large{
      font-family: UbuntuB;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.1px;
    }
    .label-medium{
      font-family: UbuntuM;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.5px;
    }
    .label-small{
      font-family: SansationR;
      font-weight: normal;
      font-size: 0.688rem;
      line-height: 0.75rem;
      letter-spacing: 0.5px;
    }

    .nav-link {
      @apply text-gray-700 text-base py-1 mx-4;

      /*&.active {*/
      /*  @apply text-primary border-b border-primary;*/
      /*}*/
    }
    .text-overFlow5 {
      display: -webkit-box;
      max-width: 400px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
    @media only screen and (min-width: 640px) {
      .colorText {
        color: #CED3D9 !important;
      }
    }
  }

  .bt-gradient {
    transition: 0.5s;
    background-size: 200% auto;
  }

  .bt-gradient:hover {
    background-position: right center;
  }
  .main-btn {
    background-image: linear-gradient(
      45deg,
      rgba(182, 212, 254, 1) 0%,
      rgba(208, 228, 255, 1) 100%
    );
  }
  .txt-gradient {
    background: -webkit-linear-gradient(#1cc2c4, #106162);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .txt-shadow {
    text-shadow: 0px 1px 6px #6c7b8e;
  }


